//- header extension - general
span.header
    a(href="/") Home
    |
    |
    a(href="/users") Users 
    |
    |
    a(href="/registration") Register
    |
    |
    span.
        Username: #[input#username(type="text", placeholder="slimshady789")] 
        Password: #[input#password(type="password")]
        #[button(type="button", onclick="login()") Sign in] 
    script(src="js/signupin.js")