//- header extension - user
span.header
    a(href="/") Home
    |
    |
    a(href="/users") Users 
    |
    |
    a(href="/order") Order Form
    |
    |
    a(href=`/users/${user._id}`) UserProfile
    |
    |
    a(style={"padding-left": "40px"}, href="/logout") Logout
