html 
    head 
        title Order Summary
        style.
            .column {
                float: left;
            }

            .left{
                width: 10%;
            }
            
            .right {
                width: 25%;
            }

            .middle {
                width: 65%;
            }

    body(onload='init()')
        include ../partials/header
        br
        br
        select#restaurant-select()
        br
        br
        #info
        #main
            .column.left#left 
            .column.middle#middle
            .column.right#right
    script(src="/js/orderform.js")
